<<<<<<< HEAD
body {
    background-color: #020021;
    font-family: 'Roboto', sans-serif;
    margin:0;
    color: white
}
p {
    color: #423B5C;
    font-weight: bold;

}
.btn {
    border-radius: 25px ;
=======



main h1{
    font-weight: bold;
    font-size: 4rem;
    line-height: 80px;
>>>>>>> refs/remotes/origin/main
}