



footer p{
    text-align: center;
}

h3{
    text-align: center;
    font-size:30px;
    color:#fff;
    left: 476px;
top: 824px;
bottom:;
position: ;
}
 {
    text-align: center;
    color: #555173;

}
button{
    
    float:inline-end;
    width: 194.26px;
    height: 63.31px;
    left: 603.37px;
    top: 932.84px;
    
    background: #FFFFFF;
    border-radius: 30px;
     margin-bottom: 20px;
     position: relative;
     top: 50%;
}
.see-pricing{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
}


body {
    background-color: #020021;
    font-family: 'Roboto', sans-serif;
    margin:0;
    color: white
}
p {
    color: #423B5C;
    font-weight: bold;

}
.btn {
    border-radius: 25px ;




main h1{
    font-weight: bold;
    font-size: 4rem;
    line-height: 80px;
}