* {
  box-sizing: border-box;
}

body {
  background-color: #020021;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  padding: 40px 150px 20px 150px;
}

p {
  color: #423B5C;
  font-weight: bold;
}

.btn {
  border-radius: 25px;
}

/*NAVBAR*/

header figure img {
  width: 200px;
  height: auto;
}

header {
  display:flex;
  justify-content: space-between;
}

header figure {
  margin-left: 0;
}

nav {
  width: 50%;
  height: auto;
  padding: 0; 
}

nav ul {
  margin: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: bold;
}

nav li {
  margin: 2px 4px;
  list-style: none;
  align-items: center; 
  margin: 10px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

a.txtaqua {
  color: #00C0A8;
}

/*MAIN*/

main {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

main div.text h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 80px;
}

main div button {
  background-color: #00F481;
  width: 230px;
}

main div.container {
  width: 100%;
}

main figure.pad-desktop {
  width: 65%;
}

main figure.pad-mobile {
  display: none;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-align: center;
  margin: 12px 0 16px 0;
}

footer h3 {
  text-align: center;
  font-size: 2.2rem;
  color:#fff;
  margin: 2px 0 0 0;
}

footer button {
  float:inline-end;
  width: 194.26px;
  height: 63.31px;
  background: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.see-pricing {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}



